<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
<%- include('partials/head.html')%>  

</head>
  <body>
    <!--modulo ejs motor de plantilla -->
    <%- include('partials/navigation.html') %>
    <!-- <script>alert("Bienvenido"); </script> -->
    <div class="container">
      <header class="row">
        <div class="col-lg-12 text-center">
          <img src="/img/wolf-30695_1280.png" alt="MgDev" class="animate__animated animate__backInUp">
        </div>
      </header>
    </div>
 <div class="container-fluid" id="about">
  <!-- <div class="row bg-dark text-white p-2 text-center">
    <div class="col-sm-6">
<h5>Iconos de redes sociales</h5>
    </div>
    <div class="col-sm-6">
<h5>texto aqui</h5>
    </div>
  </div> -->
    </div>

    <%- include('partials/footer.html') %>
  </body>
  
</html>
